/* Este es un comentario en CSS */
/*LUNA PEREZ MARIANA*/
/*DAW  FECHA:20/03/24 */
/* A continuacion le aplicamos CSS a la actividad_(ACT9.HTML).Desde un archivo CSS.(ACT9.CSS*)/

body{
background-image:"D:\4BPM DAW\ACTIVIDAD 10 LUNA PEREZ MARIANA 4BPM\GIFS\kkitty.gif";
background-color:#9FDFEB;
}
h1{
color:#2D3ADA;
}
h2{
font-family:cambria;
color:white;
}
.centro{text-align:centro;}
.derecha{text-align:right;}
.izquierda{text-align:left;}

video{
width:15%;
height:15%;
}
image{
width:15%;
height:25%;
}
h3{
color:#2D3ADA;
font-family:cambria;
}
.derecha{text-align:right;}
.centro{text-align:center;}
.izquierda{text-align:left:}
h4{
color:#723969;
font-family:calibri;
}
.derecha{text-align:right;}
.centro{text-align:center;}
.izquierda{text-align:left:}
table{
align:right;
width:20%;
height:200px;
text-align:left;
background-color:#FDFA4F;
border-spacing:1;
border-color:black;
font-size:20px;
border-style:solid;
border:14px;
font-family:optima;
color:#FF0000;
}
.dos{align:left;}
ul{
color:#2D3ADA;
font-family:cambria;
}
h6{
color:white;
text-align:left;
font-family:cambria
}

</body>
</html>
